rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && firestore.exists(
          /databases/(default)/documents/users/$(request.auth.uid)
        )
        && firestore.get(
          /databases/(default)/documents/users/$(request.auth.uid)
        ).data.role == "admin"
        && firestore.get(
          /databases/(default)/documents/users/$(request.auth.uid)
        ).data.active == true;
    }

    match /site/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /news/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /documents/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /leadership/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
